//
   Created by Nathan on 1/24/2016.

extends layout

block content
    h1 About
    article
        .container.portfolio
            .center-left
                .avatar
                    img(src="images/profileImage.png")
                h5 Nathan Woodworth
        .container.portfolio
            .center-left
                .avatar
                    img(src="images/profileImage.png")
                h5 Alec Rietman
        .container.portfolio
            .center-left
                .avatar
                    img(src="images/profileImage.png")
                h5 Matthew Kottre
        .container.portfolio
            .center-left
                .avatar
                    img(src="images/profileImage.png")
                h5 Daniel Lutz