//
   Created by Nathan on 2/6/2016.

extends layout
block content
    .center
        h1 New User
        form(name="newUser", method="post")
            .form-group
                label Username
                input.form-control(type="text", name="username")
            .form-group
                input(type="submit", value="Submit", class="btn submit-btn" )