doctype html
html
    head
        title= title

        block headStyles

        link(rel='stylesheet', href='/stylesheets/navStyle.css')
        link(rel='stylesheet', href='/stylesheets/smoothness/jquery-ui.min.css')
        link(rel='stylesheet', href='/stylesheets/newStyle.css')

        script(src='http://code.jquery.com/jquery-1.12.0.min.js')
        script(src='/js/jquery.validate.min.js')
        script(src='/js/jquery-ui.min.js')
        script(src='/js/newProductValidation.js')
        script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

        meta(name="google-signin-scope", content="profile email")
        meta(name="google-signin-client_id", content="159196631200-d1cf3beikgm0km95rjnvierd952ig5kc.apps.googleusercontent.com")
    body

        div(id="wrapper")
            div(id="navigation")
                nav
                    .navbar-header
                        a.navbar-brand(href="/") Software Tool Tips
                    ul.topnav
                        li
                            a(href="/About") About
                        li
                            a(href="#") Contact
                        ul.topnav.right
                            li
                                a(href="/Product/New") New Posts
                            if(session && session.isLoggedIn)
                                li
                                    a(href="/User/" + session.user.userId + "/" + session.user.username) #{session.user.username}
                                li
                                    a(href="/Logout") Log Out
                            else
                                li
                                    a(href="/Login") Login
                                li
                                    a(href="/Login") Sign Up
            .main-body
                block content

        footer(id="footer")
            .container
                p(class="text-muted") Project for CS290

        block scripts

