// Created by Alec on 1/28/2016.

extends layout

block content

    h1 New Product
    form(id="newProductForm", class="form-horizontal", role="form", name="newProductForm", method="post")
        .form-group
            label(for="productName", class="control-label col-sm-2") Name
            .col-sm-10
                input(type="text", class="form-control", id="productName", name="productName")
        .form-group
            label(for="logoUrl", class="control-label col-sm-2") Logo
            .col-sm-10
                input(type="url", class="form-control", id="logoUrl", name="logoUrl")
        .form-group
            label(for="versionNum", class="control-label col-sm-2") Version Number
            .col-sm-10
                input(type="text", class="form-control", id="versionNum", name="versionNum")
        .form-group
            label(for="lastUpdate", class="control-label col-sm-2") Last Update
            .col-sm-10
                input(type="text", class="form-control", id="lastUpdate", name="lastUpdate")
        .form-group
            div(class="col-sm-offset-2 col-sm-10")
                input(type="submit", value="Submit", class="btn", id="submit")

