// Created by Alec on 1/28/2016.

extends layout

block headScripts
    script(src='/js/jquery.validate.min.js')
    script(src='/js/jquery-ui.min.js')
    script(src='/js/newProductValidation.js')
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

block content

    h1 New Product
    form(id="newProductForm", class="form-horizontal", role="form", name="newProductForm", method="post")
        .form-group
            label(for="productName", class="control-label col-sm-2") Name
            input(type="text", class="form-control", id="productName", name="productName")
        .form-group
            label(for="logoUrl", class="control-label col-sm-2") Logo
            input(type="url", class="form-control", id="logoUrl", name="logoUrl")
        .form-group
            label(for="versionNum", class="control-label col-sm-2") Version Number
            input(type="text", class="form-control", id="versionNum", name="versionNum")
        .form-group
            label(for="lastUpdate", class="control-label col-sm-2") Last Update
            input(type="text", class="form-control", id="lastUpdate", name="lastUpdate")
        .form-group
            input(type="submit", value="Submit", class="btn", id="submit")

