// Created by Alec on 1/28/2016.

extends layout

block headStyles
    link(rel='stylesheet', href='/stylesheets/newProductStyle.css')

block headScripts
    script(src='/js/jquery.validate.min.js')
    script(src='/js/jquery-ui.min.js')
    script(src='/js/newProductValidation.js')

block content

    h1 New Product
    form(id="newProductForm", name="newProductForm", method="post")
        .form-table
            .form-row
                .form-cell-label
                    label(for="productName") Name
                .form-cell-input
                    input(type="text", id="productName", name="productName")
            .form-row
                .form-cell-label
                    label(for="logoUrl") Logo
                .form-cell-input
                    input(type="url", id="logoUrl", name="logoUrl")
            .form-row
                .form-cell-label
                    label(for="versionNum") Version Number
                .form-cell-input
                    input(type="text", id="versionNum", name="versionNum")
            .form-row
                .form-cell-label
                    label(for="lastUpdate") Last Update
                .form-cell-input
                    input(type="text", id="lastUpdate", name="lastUpdate")
            .form-row
                .form-cell-label
                    label(for="description") Description
                .form-cell-input
                    textarea(form="newProductForm", name="description", id="description", rows="5")
            .form-row
                .form-cell
                    input(type="submit", value="Submit", class="submit-btn", id="submit")

