//
   Created by Daniel on 2/2/2016.

extends layout

block content
    table
        thead
            tr
            th= productName
        tbody
            tr
                td= logoUrl
            tr
                td= version
            tr
                td= lastUpdate