//
   Created by Nathan on 2/21/2016.

extends layout

block content
    h1 Search
    ul
        each post in posts
            li
                a(href="/product/" + "#{post.n}" +"/"+ "#{post.v}" )=  post.n + " - " + post.v