extends layout

block content

    .container.col-md-12.main-body
        .col-md-6

            h3 USERNAME
            .container.image.col-md-4
                        p PROILE PHOTO HERE
            p Age:
            p Occupation:
            p Bio:
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.


        .col-md-6
            h3 Reviews
            .container.col-md-11
                .post
                    h4 Title
                    p Lorem exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
                    .container.tags
                        button(class="btn tag") TAG
                        button(class="btn tag") TAG


                .post
                    h4 Title
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
                    .container.tags
                        button(class="btn tag") TAG
                        button(class="btn tag") TAG
                        button(class="btn tag") TAG

                .post
                    h4 Title
                    p Lorem exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
                    .container.tags
                        button(class="btn tag") TAG
                        button(class="btn tag") TAG
