#popular {
    float:right;
}
.post {
    width: 80%;
    margin: 1em auto 1em auto;
    padding: 1em;
    background-color:#f5f5f5;
    border-radius: 0.25em;
}
.logo {
    height:75px;
    width:auto;

}
.
