
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

#navigation {
    width:100%;
    float:left;
    background-color:#333;
}

.navbar-header {
    float:left;
}

.navbar-header a{
    display: block;
    color: white;
    font-weight:bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Helvetica;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav ul.right {
    float: right;
    list-style-type: none;
    font-weight:bold;
    font-family:Helvetica;
}

@media screen and (max-width: 600px){
    ul.topnav ul.right,
    ul.topnav li {float: none;}
}

nav {
    width: 65%;
    margin: auto;
}

