.form-table {
    display: table;
    width: 100%;
}

.form-row {
    display: table-row;
}

.form-cell-label, .form-cell-input {
    display: table-cell;
    padding-bottom: 5px;
}

.form-cell-label {
    width: 20%;
    padding: 3px;
    vertical-align: top;
}

input {
    width: 100%;
}

textarea{
    width: 100%;
}

div.error {
    display: inline-block;
    color: #cd0a0a;
    padding-top: 3px;
}

#logo {
    height:100px;
    width:auto;
}

#editProductForm {
    width: 80%;
    float:left;
}

#controls {
    width: 10%;
    float: right;
    text-align: center;
}

#controls button {
    font-size: 1em;
}

