#popular {
    float:right;
}

.post {
    width: 100%;
    margin: .5em auto .5em auto;
    padding: 1em;
    background-color:#85B585;
    border-radius: .25em;
    line-height: 20%;
}

p.comUser{
    font-size: .75em
}

p.comBody{
    font-size: 1em
}

p.comDate{
    font-size: .6em
}