
html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    padding-top: 6rem;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 100%;
}

.footer {
    margin-bottom: -6rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    display: block;
}


a {
    color: #00B7FF;
}

#wrapper {
    min-height:100%;
    position:relative;
}


.container .text-muted {
    margin: 20px 0;
}

.center {
    margin: 10% auto auto auto;
    width: 60%;
    border: 1px solid #e7e7e7;
    background-color:#f8f8f8;
    padding: 1.5rem;
    text-align: center;
}

.center div {
    margin: auto;
}

.center-left {
    float:left;
    margin: auto;
    text-align: center;
    padding: 1.5rem;
    background-color: white;
    width:17%;
}

.center-left img {
    margin: auto;
}

.list-group {
    list-style-type: none;
}

.post {
    word-wrap: break-word;
    background-color: white;
    padding: 1em;
    margin: 1em;
}

.btn.tag {
    margin-right: 1rem;
}

.main-body {
    background-color:#f8f8f8;
}

.avatar {
    margin: 2em auto 1em auto;
}

.avatar img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
}

.portfolio {
    margin: 2rem auto auto auto;
    border: 1px solid #e7e7e7;
    background-color:#f8f8f8;
    padding: 2rem;
}

.portfolio h5 {
    color: #204056;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;

}

.error {
    color: #ff1e29;
}