
/*
    colorPrimary: #f5f5f5;
    colorPrimaryDark: #AAA;
    colorAccent: #4C8CA8;
    http://paletton.com/palette.php?uid=33r0u0ksWrjioypnjtLuHlUB9gW
*/


html {
    position: relative;
    min-height: 100%;
}

.main-body{
    width: 65%;
    padding-top: 1.5em;
    margin: auto;
    clear: left;
}

div.col-md-6 {
    width: 49.5%;
    float:left;
}

div.col-md-4 {
    width: 30%;
}

h4 {
    margin: 0;
}

.center {
    margin: auto;
    text-align: center;
}

form {
    display: block;
    margin-top: 0em;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin: auto 0.5em auto 5px;
    font-weight: 700;
}

.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #181818;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.submit-btn {
    background-color:#4C8CA8;
    color:white;
}

p {
    color: #2f2f2f;
    line-height: 1.3;
}

#wrapper {
    overflow: auto;
    clear: both;
}

.highlight-btn {
    background-color: #4C8CA8;
    color: white;
}

.deleteButton {
    background-color: #d12727;
    margin-top: 1em;
    height: 2em;
    color: #ededed;
    border: none;
    float: right;
    width: 2em;
}